{% extends "base.html" %}
{% block title %} Notepad {% endblock %}
{% block content %}
    <div>
        <form method="POST">
            <fieldset>
                <legend>If you want to add a note, fill the form below :) </legend>
                <p> <textarea name="new_note" cols="30" rows="10"></textarea></p>
                <h6>The date will be added automatically.</h6>
                <p><input type="submit" value="Accept" /> <input type="button" class="back" onclick="location.href='/notepad';" value="Back" />
            </fieldset>
        </form>
    </div>
{% endblock %}